<fieldset class="shadow" style="border: 1px #EAEAEA solid; padding:0px 10px 0px 10px;">
<p>
<div style="float: right;"><span title="{{event.datetime}}">{{event.datetime|timesince}}</span> ago</div>
<div style="float: left; margin: 0px 10px 10px 0px;"><a href="/profile/{{event.graphs_user_info.username}}/"><img src="/thumbs/40x40/{{ event.graphs_user_info.profile_pic }}" border="0" /></a></div>
<div><a href="/profile/{{event.operator.username}}/">{{event.operator.first_name}} {{event.operator.last_name}}</a> voted for {% if not event.operator.username == event.owner.username %}<a href="/profile/{{event.owner.username}}/">{{event.owner.first_name}} {{event.owner.last_name}}</a>'s{% else %}his/her{% endif %}&nbsp;<a href="/solutions/view/{{event.object_id}}/">solution</a>.</div>
<div style="clear:both;"></div>
</p>
</fieldset>
