{% extends "insider.html" %}
{% block content_right %}
<h2>Share your solution to every problem you think you solved</h2>

<h1>About Solutioner</h1>
<p>Solutioner is a free Solution Sharing Social Network.</p>
<p></p>
<p>We provide a wide variety  of social services as follows</p>
<ul>
<li>Search for solutions</li>
<li>Find whether a solution is useful or not by color specified for solution based on your/others vote(s)</li>
<li>Making/Editing profiles and providing information to others</li>
<li>Managing permissions based on newest security standards</li>
<li>Adding new solutions</li>
<li>Collecting others useful solutions</li>
<li>Forking others useful solutions with respect to permissions</li>
<li>-100 to +100 based voting system</li>
<li>Making solution books out of your ot others solutions with respect to permissions</li>
<li>Following others activities by liking them</li>
</ul>
{% endblock %}

