  {% if event.type == 'comment' %}
    {% include "update_box/comment_box.html" with comment=event.comment %}
  {% endif %}
  {% if event.type == 'register' %}
    {% include "update_box/user_register_box.html" %}
  {% endif %}
  {% if event.type == 'edit_profile' %}
    {% include "update_box/user_edit_profile_box.html" %}
  {% endif %}
  {% if event.type == 'commented_on_desk' %}
    {% include "update_box/commented_on_desk_box.html" %}
  {% endif %}
  {% if event.type == 'commented_on_solution' %}
    {% include "update_box/commented_on_solution_box.html" %}
  {% endif %}
  {% if event.type == 'add_solution' %}
    {% include "update_box/add_solution_box.html" with solution=event.solution graphs_user_info=event.solution.graphs_user_info %}
  {% endif %}
  {% if event.type == 'edit_solution' %}
    {% include "update_box/edit_solution_box.html" %}
  {% endif %}
  {% if event.type == 'vote_solution' %}
    {% include "update_box/vote_for_solution_box.html" %}
  {% endif %}
  {% if event.type == '' %}
  <p>{{event}}</p>
  {% endif %}
  <div style="height: 20px;"></div>
