{% extends "settings.html" %}

{% block title %}Change Password{% endblock %}


{% block form_content %}
<b>Change Password</b>
<hr>
<p>Username: {{ user }}</p>
<table>
  <tbody>
    <tr>
      <td><label for="id_oldpassword">{{ form.oldpassword.label }}:</label></td>
      <td>{{ form.oldpassword }}</td>
      <td><div id="error">{% for error in form.oldpassword.errors %}{{ error }}{% endfor %}</div></td>
    </tr>
    <tr>
      <td><label for="id_newpassword">{{ form.newpassword.label }}:</label></td>
      <td>{{ form.newpassword }}</td>
      <td><div id="error">{% for error in form.newpassword.errors %}{{ error }}{% endfor %}</div></td>
    </tr>
    <tr>
      <td><label for="id_cnewpassword">{{ form.cnewpassword.label }}:</label></td>
      <td>{{ form.cnewpassword }}</td>
      <td><div id="error">{% for error in form.cnewpassword.errors %}{{ error }}{% endfor %}</div></td>
    </tr>
  </tbody>
</table>
{% endblock %}
