{% extends "insider.html" %}
{% block content_right %}
<h1>Developers</h1>
<h3>API</h3>
<p>We privide an <a href="http://en.wikipedia.org/wiki/Api" target="_blank">API</a> based on <a href="http://en.wikipedia.org/wiki/JSON" target="_blank">JSON</a> responsing.</p>
<p>More information will be available soon.</p>
<br />
<h3>Technologies and Softwares Used</h3>
<p>We believe in <a href="http://en.wikipedia.org/wiki/Open_source">open source</a>, use <a href="http://en.wikipedia.org/wiki/Open_source">open source</a>, and help in developing <a href="http://en.wikipedia.org/wiki/Open_source">open source</a>.</p>
<p>This is a list of open source softwares and projects used in development and deployment of Solutioner.</p>
<p>(In some cases a portion of these projects have been re-implemented)</p>
<ul>
<a href="" target="_blank"></a>
<li><a href="http://www.debian.org/" target="_blank">GNU/Linux Debian</a></li>
<li><a href="http://www.python.org/" target="_blank">Python</a></li>
<li><a href="https://www.djangoproject.com/" target="_blank">Django</a></li>
<li><a href="http://httpd.apache.org/" target="_blank">Apache HTTP Server</a></li>
<li><a href="http://www.mysql.com/" target="_blank">MySQL Server</a></li>
<li><a href="http://www.innodb.com/" target="_blank">InnoDB</a></li>
<li><a href="http://memcached.org/" target="_blank">Memcached</a></li>
<li><a href="http://www.modrails.com/" target="_blank">Phusion Passenger</a></li>
<li><a href="http://xapian.org/" target="_blank">Xapian</a></li>
<li><a href="http://haystacksearch.org/" target="_blank">Haystack</a></li>
<li><a href="https://bitbucket.org/nabucosound/django-rbac/" target="_blank">django-rbac</a></li>
<li><a href="http://www.google.com/recaptcha" target="_blank">reCAPTCHA</a></li>
<li><a href="http://thumbnail.sorl.net/" target="_blank">sorl-thumbnail</a></li>
<li><a href="http://www.imagemagick.org/" target="_blank">ImageMagick</a></li>
<li><a href="http://code.google.com/p/html5lib/" target="_blank">Python html5lib</a></li>
<li><a href="http://code.google.com/p/urllib3/" target="_blank">Python urllib3</a></li>
<li><a href="http://www.crummy.com/software/BeautifulSoup/" target="_blank">Beautiful Soup</a></li>
<li><a href="http://jquery.com/" target="_blank">jQuery</a></li>
<li><a href="http://jqueryui.com/" target="_blank">jQuery UI</a></li>
<li><a href="http://aehlke.github.com/tag-it/" target="_blank">jQuery Tag-it</a></li>
<li><a href="http://plugins.jquery.com/project/fileinput" target="_blank">jQuery UI File Upload Input</a></li>
<li><a href="http://ckeditor.com/" target="_blank">CKEditor</a></li>
<li><a href="http://code.google.com/p/google-code-prettify/" target="_blank">google-code-prettify</a></li>
</ul>
{% endblock %}

